* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body{
  background-color: #F6F8FC;
}

.content {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  background-color: #fff;
}

@media screen and (min-width: 1200px) {
  .content{
    max-width: 1200px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
}

.models{
  display:none;
}

section .h1{
  text-decoration: none;
  color: black;
}

